.bg-info{

  border-radius: 20px;
}
.colorchanged:hover {
  color: red;
}

.add {
  display: flex;
  justify-content: flex-end;
}
// .red {
//   background-color: red !important;
// }
// .blue {
//   background-color: blue !important;
// }
// .blue .search-header {
//   background-color: green !important;
// }
