
<div class="container">
<mat-card tdMediaToggle="gt-xs" Class="['push-sm']">
  <mat-card-header class="bg-info">
    <mat-card-title class="text-light">Commets</mat-card-title>
</mat-card-header>
  <mat-list>
    <ng-template let-item let-i="index" let-last="last" ngFor let-comment [ngForOf]="comments">
      <mat-list-item>
        <img mat-list-avatar src="../../../assets/img/person.png" />
        <h3 mat-line class="font-weight-bold text-secondary"> {{comment?.account_id?.userName}} </h3>
        <h4 mat-line>{{comment?.account_id?.role}}</h4>
        <h6 mat-column class="text-warning">{{moment(comment?.created_at).fromNow()}}</h6>

        <p mat-line>
          <span class="text-wrap">
            {{comment?.content}}
          </span>
        </p>
      </mat-list-item>
      <mat-divider *ngIf="!last" mat-inset></mat-divider>
    </ng-template>
  </mat-list>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea name="text" matInput [(ngModel)]="myText" placeholder="Leave a comment"></textarea>
    <a (click)="addComment()" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-send"></span> Comment
    </a>
</mat-form-field>
</mat-card>

</div>
