
.drag-container {
  width: 350px;
  max-width: 100%;
  margin: 0 0px 0px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #E9ECEF;
  padding: 15px;
  border-radius: 5px;
}

.item-list {
  min-height: 60px;
  border-radius: 4px;
  display: block;
}

.item-box {
  padding: 0px 0px;
  border: solid 1px #ccc;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  border-radius: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



/*Hover Card*/
