<div class="main-content">
  <div class="container-fluid">

    <div class="row text-center">
      <!-- Group today next pervious -->
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </div>
        </div>
      </div>
      <!-- Day now -->
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
       <!-- Group Week mounth Day -->
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Month
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Week
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Day
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div [ngSwitch]="view">
      <!-- Mounth View -->
      <!-- ActiveDayIsOpen = onday -->
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <!-- Week View  -->
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <!-- Day View -->
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
      <button class="btn btn-primary float-right" (click)="addEvent()">
        Add new
      </button>
      <div class="clearfix"></div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="Previous" (mwlClick)="state = 'Previous'">Previous Events</mat-button-toggle>
        <mat-button-toggle value="Ongoing" (mwlClick)="state = 'Ongoing'">ongoing Events</mat-button-toggle>
        <mat-button-toggle value="Upcoming" (mwlClick)="state = 'Upcoming'">Upcoming Events</mat-button-toggle>
      </mat-button-toggle-group>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Primary color</th>
            <th>Secondary color</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
            <th>Remind</th>
          </tr>
        </thead>

        <tbody *ngFor="let event of events">
          <tr *ngIf="event.state == state">
            <td>
              <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="dateChanged(event,$event)"
              [disabled]="event?.account_id?._id!=myAccountId || event.state == 'Previous'" />
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="event.description" (keyup)="dateChanged(event,$event)"
              [disabled]="event?.account_id?._id!=myAccountId || event.state == 'Previous'" />
            </td>
            <td>
              {{event?.account_id?.userName}}
            </td>
            <td>
              <input type="color" [(ngModel)]="event?.color.primary" (change)="dateChanged(event,$event)"  [disabled]="event?.account_id?._id!=myAccountId || event?.state == 'Previous'" />
            </td>
            <td>
              <input type="color" [(ngModel)]="event.color.secondary" (change)="dateChanged(event,$event)"
              [disabled]="event?.account_id._id!=myAccountId || event?.state == 'Previous'" />
            </td>
            <td>
              <input class="form-control" type="datetime-local"  [(ngModel)]="event.stringStart"
                (ngModelChange)="dateChanged(event,$event)"
                dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set"
                [disabled]="event?.account_id?._id!=myAccountId || event?.state == 'Previous'"/>
            </td>
            <td>
              <input class="form-control" type="datetime-local"  [(ngModel)]="event.stringEnd"
                (ngModelChange)="dateChanged(event,$event)"
                dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set"
                [disabled]="event?.account_id?._id!=myAccountId || event.state == 'Previous'" />
            </td>
            <td>

              <button class="btn btn-danger"  [disabled]="event?.account_id?._id!=myAccountId || event?.state == 'Previous'" (click)="deleteEvent(event)">
                Delete
              </button>
            </td>

            <td>
              <button class="btn btn-info"  [disabled]='event?.reminded == true' (click)="remind(event)"><i class="fa fa-bell" ></i> Remind </button>


            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          OK
        </button>
      </div>
    </ng-template>

  </div>

</div>
