.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cursor-pointer{
  cursor: pointer;
}
.bullelements{
  font-size:2rem;
}
tr:first-child td:first-child { border-top-left-radius: 4px; }
tr:first-child td:last-child { border-top-right-radius: 4px; }
tr:last-child td:first-child { border-bottom-left-radius: 4px; }
tr:last-child td:last-child { border-bottom-right-radius: 4px; }
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 10px 10px 10px 0;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
  width: 100%;

}

.mobile-label {
  display: none;
}

@media(max-width: 852px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.example-chip-list {
  width: 100%;
}
