

<div class="card card-chart">
  <div class="container">
  <div class="card-header card-header-primary">
      <div class="ct-chart" id="websiteViewsChart">List Users per Company {{data.name}}</div>
  </div>
</div>
  <div class="card-body">
<mat-list class="container p-0">

	<mat-list-item *ngFor="let user of users">
		<img matListAvatar src="https://graph.facebook.com/{{user.provider_userId}}/picture?type=square"  alt="avatar">
		<h3 matLine> <a (click)="openDialog(user?._id)" class=" cursor-pointer text-primary font-weight-bold ">{{user?.name}}</a> </h3>
		<p matLine>
			<span>   {{user?.pack?.pack_name }}   </span>
    </p>
	</mat-list-item>
</mat-list>
  </div>
</div>
