<div class="main-content">
  <div class="container">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Packs </h4>
      </div>
<div class="card-body">
      <div class="d-md-inline-flex pl-4" >
        <div class="row">
          <mat-list>
            <div *ngFor="let pack of packs">
            <mat-list-item>{{pack.pack_name}}</mat-list-item>
            <mat-divider></mat-divider>
          </div>

          </mat-list>



        </div>
        </div>
      </div>




    </div>
  </div>
  </div>
