<mat-dialog-content>
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">List of {{data.stat.pack}} Users</h4>
        </div>
        <div class="card-body">
          <mat-list class="p-0">
            <mat-list-item *ngFor="let user of users">
              <img matListAvatar *ngIf="user.provider_userId"
                src="https://graph.facebook.com/{{user.provider_userId}}/picture?type=square" alt="avatar">
              <img matListAvatar *ngIf="!user.provider_userId" src="assets/img/person.png" alt="avatar">

              <h3 matLine> <a (click)="openDialog(user._id)"
                  class=" cursor-pointer text-primary font-weight-bold ">{{user.name}}</a> </h3>
              <p matLine>
                <span> {{user.pack.pack_name }} </span>
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
</mat-dialog-content>
