<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create new Account</h4>
            <p class="card-category">Complete your informations</p>
          </div>
          <div class="card-body">
            <form [formGroup]="registerForm">
              <div class="row">

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="userName">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email" formControlName="email">
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Comfirm Password" type="password" formControlName="cpassword">
                  </mat-form-field>
                  <p style="color: red;" *ngIf="invalid"><small>Invalid </small></p>

                </div>

              </div>
              <!--    <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                                   <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>-->
              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                (click)="onClickSubmit()">Create</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <!--         <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                 <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
    </div>
  </div>
</div>
