
table {
  width: 100%;
}
.example-chip-list {
  width: 400px !important;;
  height: 100px !important ;
  overflow: hidden;
  overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
}


.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 10px 10px 10px 0;
}


.mat-table {
  overflow: auto;
  width: 100%;

}

.mobile-label {
  display: none;
}


@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}
